/* -*-CSS-*- */

.jazzquizplainbox {
    padding: 10px;
    margin: 10px;
}

.jazzquizbox {
    border: 1px solid;
    border-radius: 8px;

    padding: 20px;
    margin: 10px;
}

.jazzquizbox .row {
    margin: 5px;
}

/** Edit page CSS **/

.jazzquizbox .questionlist li {
    border: 1px solid;
    border-radius: 5px;
    min-height: 30px;
    margin-top: 5px;
    padding: 10px;
    background: white;
}

.jazzquizbox .questionlist li:hover {

    background: #dbdbdb;
}

.jazzquizbox .questionlist li div {
    display: inline-block;
}

.jazzquizbox .questionlist .dragquestion {
    width: 10%;
    cursor: move;
}

.jazzquizbox .questionlist .icon {
    vertical-align: middle;
}

.jazzquizbox .questionlist .name {
    width: 50%;
    vertical-align: middle;
}

.jazzquizbox .questionlist .name p {
    margin: 0;
}

.jazzquizbox .questionlist .controls {
    width: 30%;
    vertical-align: middle;
}

.jazzquizbox .questionlist .controls img {
    margin-right: 5px;
}

.jazzquizbox .questionlist .controls .space {
    width: 12px;
}

.rtqstatusbox {
    border-radius: 20px;
    margin: 10px 5px 10px 35px;
    padding: 10px;
}

.rtqhiddenstatus {
    display: none;
}

.rtqsuccessstatus {
    display: block;
}

.rtqerrorstatus {
    display: block;
    background: #ff8e89;
}

.jazzquizbox .inline-block {
    display: inline-block;
}

.jazzquizbox .span6 {
    vertical-align: top;
    width: 49.5%;
}

.jazzquizbox .row .span6{
    padding: 5px;
}

/** end edit questions **/

.question_save {
    height: 30px;
}

@media (min-width: 480px) {
    .question_save {
        margin-left: 8em;
    }
}

.jazzquizloading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%
}

.jazzquiz_editicons {
    display: inline-block;
    width: 20%;
}

.jazzquiz_highlight_correct {
    background: #81dca3;
}

#quizinfobox {
    background-color: #d9edf7;
}

.jazzquizbox .submit {
    display: none;
}

.jazzquizbox .rtq_inquiz {
    display: inline-block;
}

.jazzquizbox .btn-hide {
    display: none;
}

/** Mod form styles **/
#id_reviewoptionsettings .fitem {
    float: left;
    width: 30%;
    clear: none;
}

#id_reviewoptionsettings .fitemtitle {
    width: 100%;
    font-weight: bold;
    text-align: left;
    height: 2.5em;
    margin-left: 0;
}

#id_reviewoptionsettings fieldset.fgroup {
    clear: left;
    margin: 0 0 1em;
}

#id_reviewoptionsettings fieldset.fgroup > span {
    float: left;
    clear: left;
    line-height: 1.7;
}

#id_reviewoptionsettings fieldset.fgroup span label {
    margin-left: 0.4em;
}

#id_reviewoptionsettings .fitem {
    float: left;
}

#id_reviewoptionsettings .fitemtitle {
    text-align: left;
}

/** Modal Jump-to-question css **/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.jumptoquestionclose {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.jumptoquestioncloseclose:hover {
    background: #00d9ff;
}

#notrespondedbox {
    background-color: #d9edf7;
}

#notrespondedlist {
    width: 30em;
    padding: 10px;
}

#notrespondedlist li {

    float: left;
    width: 10em;
}

#quizview .hidden{
    display: none;
    visibility: hidden;
}

.jazzquizbox.isanonymous {
    background-color: #d7f5d7;
}

#fullscreen_results_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9000;
    font-family: monospace;
    padding: 20px;
    /**background-image:url([[pix:mod_jazzquiz|footer_lodyas]]);**/
    background: #d9edf7;
}

#fullscreen_results_container .que {
     margin: 0;
}

#fullscreen_results_container .formulation {
    border: none;
    font-size: 2.5rem;
    padding: 0;
}

#fullscreen_results_container .content {
    margin: 0 auto;
    text-align: center;
}

#fullscreen_results_container .qtext {
    margin-bottom: 0;
}

.jazzquiz-responses-overview {
    width: 100%;
}

.jazzquiz-responses-overview tr td p {
    margin: 0;
    padding: 0;
}

.jazzquiz-responses-overview tr td:last-child {
    padding-left: 16px;
    border-top: 2px solid #AAA;
}

.jazzquiz-responses-overview tr td:first-child {
    border-top: 2px solid #AAA;
    cursor: pointer;
    width: 256px;
    text-align: center;
}

.jazzquiz-responses-overview tr td:last-child div {
    background: lightseagreen;
    border-radius: 1.5rem;
    text-align: right;
}

.jazzquiz-responses-overview tr td:last-child div span {
    color: #111;
    font-size: 1.6rem;
    margin-right: 1.6rem;
}

.jazzquiz-responses-overview tr {
    opacity: 0.3;
}

.jazzquiz-responses-overview tr.selected-vote-option {
    opacity: 1;
}

.jazzquiz-responses-overview tr td:first-child .filter_mathjaxloader_equation .MathJax:focus {
    outline: none;
}

.jazzquiz-vote label {
    display: block;
    padding: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.jazzquiz-vote label:hover {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.jazzquiz-vote label span {
    padding-left: 16px;
}

.jazzquiz-vote label span p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#controlbox {
    border-radius: 0;
    padding: 0;
    border: 0;
}

#inquizcontrols {
    display: block;
}

#inquizcontrols .quiz-list-buttons {

}

#inquizcontrols .btn {
    text-align: left;
    border: none;
    outline: none;
    border-radius: 0;
}

#inquizcontrols .btn:hover, #inquizcontrols .btn.active {
    background: lightseagreen;
    color: white;
}

#inquizcontrols .quiz-list-buttons #startquiz.btn {
    font-size: 2rem;
    padding: 16px 32px;
    margin: 16px;
}

#startimprovisedquestion {
    position: relative;
}

.btn .improvise-menu {
    position: absolute;
    display: none;
    margin-top: 24px;
    margin-left: -14px;
}

.btn.active .improvise-menu {
    display: block;
}

.btn .improvise-menu .btn {
    display: block;
    width: 100%;
}

#closesession {
    float: right;
}
