/* -*-CSS-*- */

.jazzquizplainbox {
    padding: 10px;
    margin: 10px;
}

.jazzquizbox {
    border: 1px solid;
    border-radius: 8px;

    padding: 20px;
    margin: 10px;
}

.jazzquizbox .row {
    margin: 5px;
}

/** Edit page CSS **/

.jazzquizbox .questionlist li {
    border: 1px solid;
    border-radius: 5px;
    min-height: 30px;
    margin-top: 5px;
    padding: 10px;
    background: white;
}

.jazzquizbox .questionlist li:hover {

    background: #dbdbdb;
}

.jazzquizbox .questionlist li div {
    display: inline-block;
}

.jazzquizbox .questionlist .dragquestion {
    width: 10%;
    cursor: move;
}

.jazzquizbox .questionlist .icon {
    vertical-align: middle;
}

.jazzquizbox .questionlist .name {
    width: 50%;
    vertical-align: middle;
}

.jazzquizbox .questionlist .name p {
    margin: 0;
}

.jazzquizbox .questionlist .controls {
    width: 30%;
    vertical-align: middle;
}

.jazzquizbox .questionlist .controls img {
    margin-right: 5px;
}

.jazzquizbox .questionlist .controls .space {
    width: 12px;
}

.rtqstatusbox {
    border-radius: 20px;
    margin: 10px 5px 10px 35px;
    padding: 10px;
}

.rtqhiddenstatus {
    display: none;
}

.rtqsuccessstatus {
    display: block;
}

.rtqerrorstatus {
    display: block;
    background: #ff8e89;
}

.jazzquizbox .inline-block {
    display: inline-block;
}

.jazzquizbox .span6 {
    vertical-align: top;
    width: 49.5%;
}

.jazzquizbox .row .span6{
    padding: 5px;
}

/** end edit questions **/

.question_save {
    height: 30px;
}

@media (min-width: 480px) {
    .question_save {
        margin-left: 8em;
    }
}

.jazzquizloading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%
}

.jazzquiz_editicons {
    display: inline-block;
    width: 20%;
}

.jazzquiz_highlight_correct {
    background: #81dca3;
}

#controlbox {
    margin: 0;
}

#jazzquiz_responses_container, #jazzquiz_responded_container, #jazzquiz_info_container {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 0;
    margin: 0;
}

#jazzquiz_responses_container {
    padding: 0;
}

.jazzquizbox .submit {
    display: none;
}

.jazzquizbox .rtq_inquiz {
    display: inline-block;
}

.jazzquizbox .btn-hide {
    display: none;
}

/** Mod form styles **/
#id_reviewoptionsettings .fitem {
    float: left;
    width: 30%;
    clear: none;
}

#id_reviewoptionsettings .fitemtitle {
    width: 100%;
    font-weight: bold;
    text-align: left;
    height: 2.5em;
    margin-left: 0;
}

#id_reviewoptionsettings fieldset.fgroup {
    clear: left;
    margin: 0 0 1em;
}

#id_reviewoptionsettings fieldset.fgroup > span {
    float: left;
    clear: left;
    line-height: 1.7;
}

#id_reviewoptionsettings fieldset.fgroup span label {
    margin-left: 0.4em;
}

#id_reviewoptionsettings .fitem {
    float: left;
}

#id_reviewoptionsettings .fitemtitle {
    text-align: left;
}

/** Modal Jump-to-question css **/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.jumptoquestionclose {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.jumptoquestioncloseclose:hover {
    background: #00d9ff;
}

#notrespondedlist {
    width: 30em;
    padding: 10px;
}

#notrespondedlist li {
    float: left;
    width: 10em;
}

#quizview .hidden{
    display: none;
    visibility: hidden;
}

.jazzquizbox.isanonymous {
    background-color: #d7f5d7;
}

#fullscreen_results_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9000;
    font-family: monospace;
    padding: 20px;
    /**background-image:url([[pix:mod_jazzquiz|footer_lodyas]]);**/
    background: #fafafa;
}

#fullscreen_results_container .que {
     margin: 0;
}

#fullscreen_results_container .formulation {
    border: none;
    font-size: 2.5rem;
    padding: 0;
}

#fullscreen_results_container .content {
    margin: 0 auto;
    text-align: center;
}

#fullscreen_results_container .qtext {
    margin-bottom: 0;
}

.jazzquiz-responses-overview {
    width: 100%;
}

.jazzquiz-responses-overview tr td p {
    margin: 0;
    padding: 0;
}

.jazzquiz-responses-overview tr td {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    padding: 8px 0;
}

.jazzquiz-responses-overview tr td.bar {
    padding-left: 16px;
    cursor: pointer;
}

.jazzquiz-responses-overview tr td:first-child {
    cursor: pointer;
    width: 256px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.jazzquiz-responses-overview tr td.bar div {
    background: #2299ff;
    border-radius: 1.5rem;
    text-align: right;
}

.jazzquiz-responses-overview tr td.bar div span {
    color: white;
    text-shadow: 0 0 10px white;
    font-size: 1.6rem;
    margin-right: 1.6rem;
}

.jazzquiz-responses-overview tr:first-child td {
    border-top: none;
}

.jazzquiz-responses-overview tr:last-child td {
    border-bottom: none;
}

.jazzquiz-responses-overview tr {
    opacity: 0.3;
}

.jazzquiz-responses-overview tr.selected-vote-option {
    opacity: 1;
}

.jazzquiz-responses-overview tr td:first-child .filter_mathjaxloader_equation .MathJax:focus {
    outline: none;
}

.jazzquiz-responses-overview tr td.options {
    width: 48px;
}

.jazzquiz-vote label {
    display: block;
    padding: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.jazzquiz-vote label:hover {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.jazzquiz-vote label > span p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#controlbox {
    border-radius: 0;
    padding: 0;
    border: 0;
}

#inquizcontrols {
    display: block;
    background: #f9f9f9;
}

#inquizcontrols .quiz-list-buttons {

}

#inquizcontrols_state {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1.2rem;
    color: #888;
    vertical-align: middle;
    cursor: default;
    user-select: none;
    font-style: italic;
}

#inquizcontrols_state:first-letter {
    text-transform: capitalize;
}

#inquizcontrols .btn {
    text-align: left;
    border: none;
    outline: none;
    border-radius: 0;
    background: #f9f9f9;
}

#inquizcontrols .btn:hover, #inquizcontrols .btn.active {
    background: #2299ff;
    color: white;
}

.improvise-menu {
    position: absolute;
    display: none;
    margin-left: 165px; /* This is a hardcoded value. Very bad, but quickest fix right now. */
}

.improvise-menu.active {
    display: block;
}

.improvise-menu .btn {
    display: block;
    width: 100%;
}

#closesession, #toggleresponses, #togglenotresponded, #showcorrectanswer {
    float: right;
}

#jazzquiz_instructions_container table {

}

#jazzquiz_instructions_container table tr {

}

#jazzquiz_instructions_container table tr td {
    padding: 16px 8px;
}

#jazzquiz_instructions_container table tr td:first-child {
    width: 256px;
}

#jazzquiz_instructions_container table tr:nth-child(odd) td {
    background: rgba(0, 0, 0, 0.05);
}

.merge-into {
    background: #eee;
    cursor: pointer;
}

.merge-from {
    cursor: pointer;
}

.jazzquiz-responses-overview tr .bar {
    transition: 0.6s ease padding-left;
}

.jazzquiz-responses-overview .merge-from .bar {
    padding-left: 64px;
    transition: 0.3s ease padding-left;
}

.jazzquiz-responses-overview tr .bar div {
    transition: 1s ease width;
}

.merge-from .bar div {
    opacity: 0.7;
}

.merge-from:hover .bar div {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    opacity: 1;
}

.jazzquiz_question {

}

.jazzquizbox {
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 0;
    margin: 0;
}

.jazzquiz_question .que .formulation, #jazzquiz_correct_answer_container .que .formulation {
    border: none;
    background: #fafafa;
}

.jazzquiz_question .que .info {
    width: auto;
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0;
    border: none;
}

.jazzquiz_question .que .info .state {
    display: none;
}

#jazzquiz_correct_answer_container .que .info {
    display: none;
}

#jazzquiz_instructions_container {
    padding: 0;
}

#jazzquiz_info_container, #jazzquiz_instructions_container {
    padding: 32px;
    font-size: 1.2rem;
    background: #eee;
    border: 1px solid #ddd;
}

.formulation .questiontestslink {
    display: none;
}

#jazzquiz_response_info_container h4 {
    font-size: 1.2rem;
    vertical-align: middle;
}

#jazzquiz_response_info_container .btn.btn-primary {
    margin-left: 16px;
}

#jazzquiz_response_info_container .btn.btn-primary,
#inquizcontrols .quiz-list-buttons #startquiz,
#inquizcontrols .quiz-list-buttons #exitquiz {
    background: #eee;
    color: #444;
    border-radius: 0;
    border: 1px solid #aaa;
}

#inquizcontrols .quiz-list-buttons #startquiz {
    font-size: 2rem;
    padding: 16px 32px;
    margin: 16px;
}

#inquizcontrols .quiz-list-buttons #startquiz:hover,
#inquizcontrols .quiz-list-buttons #exitquiz:hover,
#jazzquiz_response_info_container .btn.btn-primary:hover {
    background: #2299ff;
    color: #fff;
}

#inquizcontrols .quiz-list-buttons #exitquiz {
    float: right;
    margin: 16px;
    font-size: 1.2rem;

}