<div class="jazzquiz-box">
    <div>
        <h3>{{# str }} select_session, jazzquiz {{/ str }}</h3>
        <br>
        <div class="inline-block">
            {{# select_session }}
                {{> core/single_select }}
            {{/ select_session }}
        </div>
    </div>
</div>